

ul li {
  float: left;
  background-color: lightgreen;
}

@media (max-width: 1080px) {
    .row .col {
        flex: 0 0 100%;
        max-width: 100%;
    }
}


body{
	background-image: url('img/climate-change.jpg');
	background-color: lightgreen;
}
p{
	font-family: "Sofadi One", system-ui;
	font-weight: 400;
	font-style: normal;
}
h1{
	font-family: "Licorice", cursive;
	font-weight: 400;
	font-style: normal;
	color: black;
}
form{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}
