ul li {
  float: left;
  background-color: lightgreen;
}

body{
	background-image: url('img/climate-change.jpg');
	background-color: grey;
}

/* p{ */
	/* font-family: "Sofadi One", system-ui; */
	/* font-weight: 400; */
	/* font-style: normal; */
/* } */

.solution-title{
	font-family: "Licorice", cursive;
	font-weight: 700;
	font-style: normal;
	color: black;
}

form{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}

/* center the text inside footer */
.footer{
	text-align: center;
	background-color: lightblue;
}

.btn-primary{
	background-color: green;
	/* font-size: 100px; */
	hover-color: green;
}

/* hover color for any buttons */
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    background-color: lightgreen;
    border-color: darkgreen;
}