/* Author: Kieran Panelo */
.kpPage {
	background-color: #2c3e50;
}
.columnText{
	/* padding to center the text  */
	padding: 10px;
}
.columnHeader{
	text-align: center;
	font-family: "Sofadi One", system-ui;
	font-weight: 400;
	font-style: normal;
}
.columnImg{
	border: 5px solid;
	color: #2c3e50;
}
.titleFooter{
	font-family: "Sofadi One", system-ui;
	font-weight: 400;
	font-style: normal;
}
/* button for desktop view */
.btn-primary{
	display: block;
	/* increase size of button */
	padding: 10px 20px;
	/* white color for text of button */
	color: #fff;
	border-radius: 4px;
	/* button side by side */
	display: inline;
}
 /* center title for mobile view*/
@media(max-width: 764px){
	.titleFooter{
		text-align: center;
		font-family: "Sofadi One", system-ui;
		font-weight: 400;
		font-style: normal;
	}
	/* center the button on mobile view */
	.btn-primary{
		display: block;
		margin: auto;
	}
}
.donateTitle{
	text-align:center;
	color: lightgreen;
}
/* form css */
form {
	/* size of form */
	max-width: 600px;
	/* center the form */
	margin: 0 auto;
	/* text don't touch the corner */
	padding: 20px;
	/* form color */
	background-color: #fff;
	border-radius: 8px;
}
/* input fieldset styling */
input[type="text"]{
	/* input field goes across the page */
	width: 100%;
	/* input field bigger */
	padding: 10px;
	/* create gap between label and input */
	margin: 5px 0;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
}
/* styling of field input */
select {
	width: 100%;
	padding: 10px;
	margin: 5px 0;
	border: 1px solid #ccc;
	border-radius: 5px;
}
.error-message {
	color: red;
	font-size: 14px;
	margin-top: 5px;
}
/* center the text inside footer */

.btn-primary{
	/* color of button */
	background-color: #2c3e50
}
.btn-primary:hover{
	/* color when hovering */
    background-color: lightgreen;
}
.btn-primary:active {
	/* changes color when clicked */
	background-color: green;
	/* animation when clicked */
	 transform: translateY(4px);
}
/* End of Author: Kieran */
