/* Author: Kieran Panelo */
.container-fluid{
	background-color: grey;
}
body{
	background-color: #4caf50;
}
.column-text{
	/* padding to center the text  */
	padding: 10px;
}
.column-header{
	text-align: center;
}
 /* center title for mobile view*/
@media(max-width: 764px){
	.title-footer{
		text-align: center;
	}
}
/* for div color */
.container-fluid{
	background: beige;
}
.donateTitle{
	text-align:center;
	color: lightgreen;
}
/* form css */
form {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input[type="text"],
input[type="password"],
select,
textArea {
	width: 100%;
	padding: 10px;
	margin: 5px 0;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
	font-size: 16px;
}
select {
	width: 100%;
	padding: 10px;
	margin: 5px 0;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
	font-size: 16px;
	background-color: #fff;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
textarea {
	resize: vertical;
}
input[type="submit"],
input[type="reset"],
input[type="checkbox"] {
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	cursor: pointer;
	font-size: 16px;
}
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="checkbox"]:hover {
	background-color: #0056b3;
}
.error-message {
	color: red;
	font-size: 14px;
	margin-top: 5px;
}
/* center the text inside footer */
.footer{
	text-align: center;
	background-color: lightblue;
}

.btn-primary{
	/* color of button */
	background-color: green;
}

/* hover color for any buttons */
.btn-primary:hover{
	/* color when hovering */
    background-color: lightgreen;
}
.btn-primary:active {
	/* changes color when clicked */
	background-color: darkgreen;
	/* animation when clicked */
	 transform: translateY(4px);
}
